.impact_container {
   margin-block: 5rem;
   padding-block: 5rem;
   background-color: var(--secondary-background);

   .title {
      text-align: center;
      padding-bottom: 2rem;
   }

   .wrapper {
      width: min(1000px, 100% - 2rem);
      margin-inline: auto;
      display: flex;
      justify-content: center;
      text-align: center;
      gap: 2rem;

      > div {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 1rem;
         padding-block: 1rem;

         > p:nth-child(1) {
            font-size: 3.5rem;
            font-weight: 800;
            color: #ec2e58;
         }
         > p:nth-child(2) {
            font-size: 20px;
            font-weight: 500;
            color: #ec2e58;
         }
      }

      @media (max-width: 1000px) {
         flex-wrap: wrap;

         > div {
            max-width: 300px;

            @media (max-width: 578px) {
               > p:nth-child(1) {
                  font-size: 2.5rem;
               }
            }
         }
      }
   }
}