.impact__container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin: 2rem;

   .title {
      color: #ec2e58;
      margin: 3rem 0;
      text-transform: capitalize;
   }

   .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;

      .detail__wrapper {
         text-align: center;
         width: 350px;

         .detail__number {
            font-size: 4.5rem;
            font-weight: 900;
            margin-bottom: 1rem;
            color: #ec2e58;
         }

         .detail__title {
            font-size: 2rem;
            font-weight: 900;
            margin-bottom: 1rem;
            text-transform: uppercase;
            color: #ec2e58;
         }

         .detail__description {
            font-size: 1.2rem;
         }
      }
   }
}

// media queries

@media screen and (max-width: 1024px) {
   .impact__container {
      .title {
         color: #ec2e58;
         margin: 2rem 0;
         font-size: 2.5rem;
      }
      .wrapper {
         .detail__wrapper {
            .detail__number {
               font-size: 3rem;
            }

            .detail__title {
               font-size: 1.5rem;
            }

            .detail__description {
               font-size: 1rem;
            }
         }
      }
   }
}

@media screen and (max-width: 768px) {
   .impact__container {
      .title {
         color: #ec2e58;
         margin: 2rem 0;
         font-size: 2rem;
      }
      .wrapper {
         .detail__wrapper {
            width: 300px;
            .detail__number {
               font-size: 2.5rem;
            }

            .detail__title {
               font-size: 1.2rem;
            }

            .detail__description {
               font-size: 1rem;
            }
         }
      }
   }
}
