/* common styles for all screens */

.nav-parent-container {
  box-shadow: 0 0 10px #00000050;
  position: relative;
  z-index: 9999;
}

.header-secondary {
 
  @media (max-width: 768px) {
    display: none;
  }

  padding: .6rem;
  background-color: #ec2e58;
  
   .wrapper {
    width: min(1300px, 100% - 4rem);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: white;

    > div:last-child, div:first-child div, div:first-child > div span {display: flex}
    > div:first-child div, div:first-child div > span {gap: 1rem; align-items: center}
    > div:first-child div span svg {
      transition: color 200ms ease;
     
      @media (hover: hover) {
        &:hover {
          color: rgb(26, 34, 77);
          cursor: pointer;
        }
      }
      @media (hover: none) {
        &:active {
          color: rgb(26, 34, 77);
        }
      }
    } 

    // @media (max-width: 578px) {
    //    div:first-child {
    //     flex-direction: column;
    //     gap: 0px !important;

    //     div span {
    //       gap: .5rem;
    //       svg {
    //         height: 1rem;
    //         width: 1rem;
    //       }
    //     }
    //   }
    // }

    // @media (max-width: 768px) {
    //   > div:last-child {flex-direction: column}
    // }

    // @media (max-width: 450px) {
    //   flex-direction: column;
    //   align-items: start;
    //   gap: 1rem;

    //   > div:last-child span  {
    //     padding-inline: 0 !important;
    //   }
    // }

    > div:last-child span {
      display: flex;
      align-items: center;
      gap: .3rem;
      padding-inline: .8rem;
      &:last-child {position: relative};
      &:last-child::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        bottom: 0;
        background: #ffffff91;
        z-index: 1;

        // @media (max-width: 768px) {
        //   width: 0;
        // }
      }
    }
  }
}


.header-primary {
  text-transform: capitalize;
  font-weight: 600;

  .wrapper {

    .logo-container {
      display: flex;
      align-items: center;
      gap: .5rem;

      > span {
        width: 6rem;
        height: 5rem;
        position: relative;

        > img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
       
      }
      @media (max-width: 450px) {
        > h4 {
          display: none;
        }
      }
    }
  }

  .wrapper .nav-container {

      .navbar .nav-list-primary > div {
       display: none;
       align-items: center;
       justify-content: flex-end;
       width: 100%;
       gap: 1rem;
       padding: 2rem 0;


        #closeMenu {
          width: 3rem;
          height: 3rem;
          color: #ffffffb0;
          margin-right: 1rem;
        }
      }

      .navbar .nav-list-primary > li {
        position: relative;
        list-style-type: none;

        a {
          text-decoration: none;
          color: var(--text);
          transition: color 150ms ease, transform 150ms ease;

        @media (hover: hover) {
          &:hover {
            color: var(--accent);
          }
        }
        @media (hover: none) {
          &:active {
            color: var(--accent) !important;
            scale: .98;
          }
        }
        }
      }

    #donate-btn-primary {
      all: unset;
      text-transform: capitalize;
      background-color: #ec2e58;
      color: white;
      padding: 0.8rem 1rem;
      border-radius: 0.4rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: .5rem;
      transition: background-color 200ms ease, transform 150ms ease, box-shadow 300ms ease;
      box-shadow: 0 0 0 0 #ec2e5738;

      &:hover {
          box-shadow: 0 0 0 6px #ec2e5738;
      }

    @media (hover: hover) {
      // &:hover {
      //   background-color: #151533;
      // }
    }
  &:active {
    scale: .98;
  }
    }

    #handburger-menu {
      width: 2.5rem;
      height: 2.5rem;
      display: none;
    }
  }
}

// styles for desktop

@media (min-width: 992px) {
  .header-primary {
   .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(1200px, 100% - 4rem);
    margin-inline: auto;
    
    .nav-container {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      .navbar .nav-list-primary {
        display: flex;
        gap: 1.2rem;
        
        > li {
          z-index: 99;

          span {
            display: flex;
            align-items: center;
  
            svg {
              transition: transform 200ms ease-in-out;
            }
          }
  
       @media (hover: hover) {
        &:hover svg {
          transform: rotate(180deg) translateY(1px);
        }
       }
          .nested-navbar {
            opacity: 0;
            visibility: hidden;
            transform: scaleY(0);
            transform-origin: top;
            transition: all 200ms ease-in-out;
          }
          .nested-navbar .nav-list {
            position: absolute;
            list-style-type: none;
            background-color: var(--secondary-background);
            // backdrop-filter: blur(.5rem);
            box-shadow: 2px 2px 10px #00000020;
            border-radius: 5px;
  
            li {
              position: relative;
  
              a {
                padding: .8rem 3rem;
                display: block;
                font-size: 14px;
                font-weight: 500;
                white-space: nowrap;
              }

              &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                width: 100%;
                background: linear-gradient(to right, transparent,var(--border),transparent);
                z-index: 99;
              }
              &:last-child::after {
                display: none;
              }
            }
          }

          span a {padding: 1rem 0px}
          

        @media (hover: hover) {
          &:hover {
            .nested-navbar {
              opacity: 1;
              visibility: visible;
              transform: scaleY(1.0000001);
            }
          }
        }
        }

        > li .nested-navbar .nav-list {
          padding: .5rem 1rem;
          display: flex;
          flex-direction: column;
          gap: 0;
          width: fit-content;
          left: -50%;
          top: 100%;
          text-wrap: nowrap;

          li {
            position: relative;
            
            .forHoverEffect {
              position: absolute;
              inset: 0;
              top: 20%;
              bottom: 20%;
              transform: scaleX(0);
              background-color: var(--accent);
              transform-origin: left;
            }
            a, span {transition: transform 200ms ease}
           @media (hover: hover) {
            &:hover a {transform: translateX(4px)}
            &:hover span {transform: scaleX(.03)}
           }
          }
        }
      }
    }
   }
  }
}



// styles for mobile

@media (max-width: 992px) {
  .header-primary .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;

    @media (max-width: 578px) {
      .header-secondary {display: none !important}
    }

    @media (max-width: 450px) {
      padding-block: 1rem;
    }

    .nav-container > div  {
      display: flex;
      align-items: center;
      gap: 1rem;

      #handburger-menu {
        display: block;
        transition: transform 200ms ease;
      }
    }

    .nav-container .navbar {
      position: fixed;
      z-index: 99;
      inset: 0;
      background-color: #00000050;
      backdrop-filter: blur(.3rem);
      pointer-events: none;
      opacity: 0;
      transition: opacity 300ms ease-in;

      &[data-menu="open"] {
        opacity: 1;
        pointer-events: initial;
      }
      
      > ul {

        > div {
          display: flex !important;
        } 

        position: absolute;
        right: 0;
        top: 0;
        background-color: #0f0f0f;
        width: min(400px, 60%);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transform:  translateX(100%);
        transition: transform 300ms ease;

        &[data-menu="open"] {
          transform: translateX(0);
        }

        > li {
          border-bottom: 1px solid #ffffff30;
          position: relative;
          width: 100%;
          // &:nth-child(2) {border-top: 1px solid #ffffff30}
          span {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
              color: #dfdfdf !important;
              padding: .8rem 1rem;
            }
            svg {
              color: #dfdfdf;
              background: #202020;
              border-radius: 3px;
              right: 1rem;
              height: 2rem;
              width: 2rem;
              padding: .3rem;
              position: absolute;
              top: auto;
              bottom: auto;
              transition: all 200ms ease;
            }
          }
          .nested-navbar {display: block !important}
          .nested-navbar {
            display: grid !important;
            grid-template-rows: 0fr;
            transition: grid-template-rows 200ms ease-in-out;

            .nav-list {
              overflow: hidden;
              list-style-type: none;

             > li {
              border-bottom: 1px solid #ffffff10;
              &:last-child {border-bottom: none; padding-bottom: .5rem}

                a {
                  color: #f13d64;
                  font-size: 14px;
                  font-weight: 500;
                  padding: .7rem 1rem .7rem 2rem;
                  display: block;
                }
              }
            }
          }
        } 
        > li[data-dropdown="open"] .nested-navbar {
          grid-template-rows: 1fr;
        }
        > li[data-dropdown="open"] span svg {
          transform: rotate(180deg);
          border-radius: 100%;
          color: #f13d64;
        }
      } 
    }
  }
}