.programmes_container {
   margin-bottom: 8rem;

   @media (max-width: 678px) {
      margin-bottom: 5rem;
   }

   .title {
      text-align: center;
      padding-bottom: 5rem;
   }

   .wrapper {
      width: min(1000px, 100% - 2rem);
      margin-inline: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem;

      @media (max-width: 678px) {
         grid-template-columns: 1fr;
         gap: 3rem;
         max-width: 450px;
      }

      > div {
         display: flex;
         gap: 1rem;

         > span {
            display: inline-block;
            width: 6rem;
            min-width: 6rem;
            aspect-ratio: 1;
            position: relative;

            img {
               width: 100%;
               height: 100%;
               object-fit: contain;
            }
         }
         > div {
            h5 {
               text-decoration: underline;
               font-weight: 800;
            }
            p {
               padding-block: 1rem;
            }
         }
         > div .education {
            color: #f0c774;
         }
         > div .healthcare {
            color: #c0adcc;
         }
         > div .livelihood {
            color: #dfbfaf;
         }
         > div .disaster_response {
            color: #dfa5f5;
         }
         > div .empowering_grassroots {
            color: #ced5ff;
         }
         > div .women_empowerment {
            color: #b2d3d1;
         }
      }
   }
}